body {
  font-family: sans-serif;
}

.column-1, .column-2 {
  vertical-align: text-top;
  display: inline-block;
  width: 45%;
  margin-left: 10px;
  padding: 10px;
}

.column-1 {
  background-color: #eee;
}
