body {
  max-width: 960px;
  min-width: 500px;
  margin: 0px auto;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

span {
  display: inline;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  border: 1px solid black;
  padding-left: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

#external-links ul li{
  padding: 5px;
}

/* 
  740 px is the correct width for main on my (JW) 
  screen for the display and vertical align 
  properties to work correctly
*/
main {
  display: inline-block;
  width: 70%; 
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  #external-links {
    display: block;
    width: 90%;
  }
  main {
    display: block;
    width: 90%; 
  }
}

/*
@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}
*/